* {
  font-family: 'Noto Sans KR';
}

p{
  padding: 0;
  margin: 0;
}

.invest-header{
  width: 100%;
  height: 120px;
  background: #fff;
  border-bottom: 1px solid #D6D6D6;
}

.i-header{
  width: 1030px;
  height: 119px;
  margin: 0 auto;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.i-header .title{
  color: #333;
  font-size: 27px;
  font-weight: 500;
  line-height: 39px;
}
