* {
  font-family: 'Noto Sans KR';
}

p{
  padding: 0;
  margin: 0;
}

.invest-content{
  width: 100%;
  background: #F9FAFB;
}

.i-content{
  width: 1030px;
  margin: 0 auto;
  padding: 50px 20px 100px;
  box-sizing: content-box;
}

/* 투자자 성향진단 */

.i-content .main-title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.i-content .main-title span{
  color: #3e72ed;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

.i-content p{
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-top: 25px;
}

.i-content .box{
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 12px;
  background: #EEF1FF;
  display: flex;
  flex-direction: column;
}

.i-content .box span{
  display: inline-block;
  position: relative;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 22px;
}

.i-content .box span::before{
  content: '';
  position: absolute;
  width: 3.5px;
  height: 3.5px;
  background: #333;
  border-radius: 100%;
  top: 8px;
  left: 9px;
}

.i-content .question-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.i-content .question-group .q-box{
  width: 100%;
  padding: 20px 30px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.04);
}

.i-content .question-group .q-box .question{
  width: 100%;
  color: #333;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 15px;
}

.i-content .question-group .q-box .question span{
  color: #3E72ED;
}

.i-content .question-group .q-box .answer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.i-content .question-group .q-box .answer .rdo-group {
  width: 100%;
}

.i-content .question-group .q-box .answer .rdo-group input[type=radio]{
  display: none;
}

.i-content .question-group .q-box .answer .rdo-group input[type=radio] + label{
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  padding-left: 52px;
  border-radius: 8px;
  border: 1px solid #EDEDED;
  background-image: url('https://img.thinkpool.com/common/invest/invest_rdo.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 20px;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.i-content .question-group .q-box .answer .rdo-group input:checked + label{
  background-image: url('https://img.thinkpool.com/common/invest/invest_rdo-checked.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 20px;
  border: 1px solid #B5C1FF;
  background-color: #EEF1FF;
}

.i-content .submit{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.i-content .submit button{
  width: 200px;
  height: 50px;
  border-radius: 100px;
  background: #3e72ed;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  cursor: pointer;
}

.resultModal .modal-body.type01 .top{
  background: #FFF0F0;
}

.resultModal .modal-body.type01 .bottom .score .box{
  background: #FFF0F0;
  padding: 0px 30px;
}

.resultModal .modal-body.type02 .top{
  background: #FFF0DD;
}

.resultModal .modal-body.type02 .bottom .score .box{
  background: #FFF0DD;
  padding: 0px 30px;
}

.resultModal .modal-body.type03 .top{
  background: #F2F9E2;
}

.resultModal .modal-body.type04 .top{
  background: #EAFFF1;
}

.resultModal .modal-body.type05 .top{
  background: #DBEAFE;
}

.resultModal .modal-dialog{
  max-width: 650px;
  min-width: 650px;
}

.resultModal .modal-content{
  border: none;
  border-radius: 16px;
  background: #fff;
}

.resultModal .modal-body{
  width: 100%;
  padding: 0;
}

.resultModal .modal-body .top{
  width: 100%;
  padding: 40px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background: #fff0f0;
  border-radius: 16px 16px 0 0;
}

.resultModal .modal-body .top span img{
  height: 80px;
}

.resultModal .modal-body .top .title{
  color: #333;
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
}

.resultModal .modal-body .top .result{
  color: #3E72ED;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
}

.resultModal .modal-body .top p{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.resultModal .modal-body .bottom{
  width: 100%;
  padding: 30px 40px 50px;
  background: #fff;
}

.resultModal .modal-body .bottom .title{
  width: 100%;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 20px;
}

.resultModal .modal-body .bottom .score{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 27px;
  margin-bottom: 40px;
}

.resultModal .modal-body .bottom .score .box{
  width: 430px;
  height: 100px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 12px;
  background: #F5F5F5;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.resultModal .modal-body .bottom .score .box span{
  display: inline-block;
  color: #C8212F;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  margin-top: 5px;
}

.resultModal .modal-body .bottom .checklist{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
}

.resultModal .modal-body .bottom .checklist .type{
  width: 105px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #D2D2D2;
  background: #FFF;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.resultModal .modal-body .bottom .checklist .type.active{
  color: #6695EE;
  border: 2px solid #6695EE;
}

.resultModal .modal-body .btn-group{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-bottom: 32px;
}

.resultModal .modal-body .btn-group button{
  width: 160px;
  height: 49px;
  border-radius: 100px;
  background: #EBEBEB;
  border: none;
  color: #666;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.resultModal .modal-body .btn-group button.active{
  background: #3E72ED;
  color: #fff;
}

.customModal .modal-dialog{
  max-width: 430px;
  min-width: 430px;
}

.customModal .modal-content{
  position: relative;
  border: none;
  border-radius: 6px;
  background: #fff;
}

.customModal .modal-content .modal-header{
  border: none;
  padding: 0;
  margin: 0;
}

.customModal .modal-content .modal-header button{
  position: absolute;
  top: 15px;
  right: 20px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  z-index: 99;
}

.customModal .modal-content .modal-body{
  width: 100%;
  padding: 50px 0px 40px;
}

.customModal .modal-content .modal-body .title{
  width: 100%;
  margin-bottom: 20px;
  color: #333;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
}

.customModal .modal-content .modal-body p{
  width: 100%;
  margin-bottom: 40px;
  color: #333;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.customModal .modal-content .modal-body p strong{
  font-weight: 700;
}

.customModal .modal-content .modal-body p span{
  color: #fb5360;
}

.customModal .modal-content .modal-body b{
  display: block;
  width: 100%;
  color: #3E72ED;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.customModal .modal-content .modal-body .btn-group{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.customModal .modal-content .modal-body .btn-group button{
  padding: 10px 45px;
  border-radius: 100px;
  background: #EBEBEB;
  border: none;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.customModal .modal-content .modal-body .btn-group button:first-child{
  background: #3E72ED;
  color: #fff;
}

/* 서비스 결제하기 */
.i-content .content-title{
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 20px;
}

.i-content .content-box{
  width: 100%;
  padding: 40px 24px 70px;
  background: #fff;
  border: 1px solid #d7d7d7;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.10));
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.i-content .content-box .bg-box{
  width: 100%;
  padding: 40px 50px;
  border-radius: 12px;
  background: #F9F9F9;
}

.i-content .content-box .bg-box.noBankBook{
  width: 100%;
  padding: 40px 121px;
}

.i-content .content-box .title{
  width: 100%;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.i-content .content-box .step-group{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #dfdfdf;
}

.i-content .content-box .step-group .step{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.i-content .content-box .step-group .step .num{
  color: #3E55C8;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.i-content .content-box .step-group .step p{
  margin: 0;
  padding: 0;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.i-content .content-box .step-group span{
  margin-bottom: 24px;
}

.i-content .content-box .txt-group{
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}

.i-content .content-box .txt-group p{
  position: relative;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-left: 12px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.i-content .content-box .txt-group p::before{
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  position: absolute;
  border-radius: 100%;
  background: #333;
  top: 9px;
  left: 0;
}

.caution .bg-box .txt-group, .refund-notice .bg-box .txt-group{
  padding-top: 0;
}

.caution .bg-box .txt-group p, .refund-notice .bg-box .txt-group p{
  font-weight: 300;
}

.refund-notice .bg-box .title{
  color: #666;
}

.mb40{
  margin-bottom: 40px;
}

.user-info .note{
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}

.user-info .note p{
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.user-info .note p span{
  font-weight: 500;
  color: #C8212F;
}

.user-info .note p strong{
  font-weight: 500;
}

.custom-table{
  width: 100%;
}

.custom-table tr:first-child{
  border-top: 2px solid #7d8796;
}

.custom-table tr td{
  padding: 13.5px 40px;
  border-right: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.custom-table tr td.bg-center{
  text-align: center;
  background: #ebebeb;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
}

.custom-table tr td.bg-center2{
  text-align: center;
  background: #FCFAEE;
  padding-left: 0;
  padding-right: 0;
}

.payment-amount .custom-table tr td.bg-center{
  border-right: 1px solid #D8D8D8;
  border-bottom: 1px solid #7D8796;
}

.payment-amount .custom-table tr td.bg-center:last-child{
  border-right: none;
}

.custom-table tr td:last-child{
  border-right: none;
}

.custom-table tr td button{
  margin-left: 15px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #3E72ED;
  background: #FFF;
  color: #3E72ED;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.custom-table tr td strong{
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.custom-table tr td span{
  color: #C8212F;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.custom-table tr td em{
  text-decoration-line: line-through;
  font-style: normal;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.input-group input[type=text]{
  width: 270px;
  height: 36px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #3E72ED;
  background: #FFF;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.input-group input[type=text]::placeholder{
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.form-select{
  display: inline-block;
  width: 216px;
  margin-left: 10px;
  padding: 8px 36px 8px 10px;
  border: 1px solid #d2d2d2;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.form-select:focus{
  outline: none;
  box-shadow: none;
  border: 1px solid #d2d2d2;
}

.radio-group{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  gap: 40px;
}

.input-radio input[type=radio]{
  display: none;
}

.input-radio input[type=radio] + label{
  display: inline-block;
  padding-left: 26px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  background-image: url('https://img.thinkpool.com/common/invest/invest_rdo.png');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: left;
}

.input-radio input[type=radio]:checked + label{
  background-image: url('https://img.thinkpool.com/common/invest/invest_rdo-checked.png');
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: left;
}

.input-mix{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.input-mix .input-radio{
  min-width: 130px;
}

.confirmation .note{
  padding-left: 20px;
  color: #666;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-top: 26px;
}

.bg-box .sub-title{
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 23px;
}

.bg-box .way-group{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.bg-box .way-group .way{
  width: 180px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 3px solid #BBD0EF;
  background: #EDF5FE;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
}

.bg-box .note{
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.bg-box .guide{
  margin-bottom: 6px;
  color: #666;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.agreement{
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

.agreement input[type=checkbox]{
  display: none;
}

.agreement input[type=checkbox] + label{
  display: inline-block;
  padding-left: 30px;
  background-image: url('https://img.thinkpool.com/common/invest/invest_checkbox.png');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: left;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.agreement input[type=checkbox]:checked + label{
  background-image: url('https://img.thinkpool.com/common/invest/invest_checkbox-checked.png');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: left;
}

.agreement button{
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-left: 8px;
  border: none;
  background: none;
}

.payment-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.payment-btn button{
  width: 167px;
  height: 47px;
  background: #ebebeb;
  border: none;
  color: #333;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.payment-btn button:last-child{
  background: #3e72ed;
  font-weight: 700;
  color: #fff;
}

.refund-notice{
  width: 100%;
}

.refund-notice .txt{
  width: 100%;
  margin-top: 16px;
  margin-left: 20px;
  color: #666;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}


/* 증권방송전문가 홈 투자자성향 진단 팝업 */
.diagnosisModal{

}

.diagnosisModal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

.diagnosisModal.show {
  display: block;
  opacity: 1;
}

.diagnosisModal .modal-dialog{
  max-width: 430px;
  min-width: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.diagnosisModal .modal-content{
  position: relative;
  border: none;
  border-radius: 6px;
  background: #fff;
}

.diagnosisModal .modal-content .modal-body{
  width: 100%;
  padding: 50px 0px 40px;
}

.diagnosisModal .modal-content .modal-body .title{
  width: 100%;
  margin-bottom: 20px;
  color: #333;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
}

.diagnosisModal .modal-content .modal-body p{
  width: 100%;
  margin-bottom: 40px;
  color: #333;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.diagnosisModal .modal-content .modal-body .btn-group{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.diagnosisModal .modal-content .modal-body .btn-group button{
  padding: 10px 45px;
  border-radius: 100px;
  background: #EBEBEB;
  border: none;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  cursor: pointer;
}

.diagnosisModal .modal-content .modal-body .btn-group button:first-child{
  background: #3E72ED;
  color: #fff;
}