/* content */

/* content-header */

.content-header.sb-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.al_conhead{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-nav{
  line-height: 48px;
  display: flex;
  justify-content: flex-start;
}

.content-nav a{
  display: block;
  margin-right: 16px;
  color: #666;
  font-weight: 400;
  font-size: 16px;
}

.content-nav a.active{
  font-weight: 500;
  font-size: 16px;
  color: #121212;
  border-bottom: 3px solid #121212;
  /* box-shadow: 0 -2px 0 0px #121212 inset; */
}

.content-header button.invest-info{
  width: 70px;
  height: 30px;
  padding: 0;
  background: #fff;
  border: 1px solid #666;
  border-radius: 100px;
  color: #666;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* content-header */

/* section1 */

.sec-main{
  width: 100%;
  padding: 25px 16px 40px;
}

.main-top{
  width: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-txt span{
  display: block;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  line-height: 28px;
  margin-bottom: 10px;
}

.main-txt button{
  border: none;
  background: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  position: relative;
}

.main-txt button::before{
  position: absolute;
  top: 5px;
  right: -15px;
  content: "";
  width: 8px;
  height: 8px;
  border: 1.5px solid #333C6A;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

.chart1{
  margin-left: 5px;
}

.chart1 img{
  width: 80px;
}

.main-bot{
  width: 100%;
  margin-top: 19px;
}

.main-box{
  width: 100%;
  padding: 20px 20px 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.box-top{
  width: 100%;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}

.box-top div em{
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #828282;
  line-height: 16px;
}

.box-top div span{
  display: block;
  margin-top: 2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.03px;
  color: #212121;
}

.box-bot{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 6px;
}

.bot-box{
  width: 100%;
  background: rgba(235, 239, 242, 0.3);
  border-radius: 6px;
  padding: 13px 10px;
}

.bot-boxt{
  margin-bottom: 18px;
  text-align: center;
}

.bot-boxt span{
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #141414;
  line-height: 17.53px;
  margin-bottom: 7px;
}

.bot-boxt strong{
  font-weight: 700;
  font-size: 18px;
  line-height: 22.54px;
}

.bot-boxb div{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.52px;
}

.bot-boxb div em{
  display: block;
  margin-right: 8px;
  color: #828282;
}

/* section1 */

/* section2 */

.rate{
  padding: 40px 16px 20px;
}

.rate-header{
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate-headtxt{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #212121;
}

.dropdown{
  width: 98px;
  background: #fff;
  border: 1px solid #DFE3E7;
  border-radius: 5px;
}

.dropdown button.btn{
  width: 100%;
  padding: 6px 10px 6px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #333;
}

button.btn.dropdown-toggle::after{
  margin-left: 30px;
  font-size: 14px;
}

ul.dropdown-menu.show{
  min-width: 96px;
  padding: 0px 10px !important;
}

ul.dropdown-menu li a.dropdown-item{
  padding: 6px 0;
  font-size: 13px;
  font-weight: 400;
  color: #333;
}

.rate-box{
  margin-top: 15px;
  padding: 8px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.rate-list{
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  padding: 12px 0;
  border-top: 1px solid #F5F7F6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate-list:first-child{
  border: none;
}

.numname{
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.num{
  width: 30px;
  height: 30px;
  background: #C2C2C2;
  border-radius: 12px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-right: 14px;
}

.name{
  width: 77%;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}


.rate-flu span{
  display: block;
  border-radius: 4px;
  padding: 3px 10.5px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
}

/* rate-modal */

.modal{
  width: 100%;
}

.modal-dialog{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0px 16px;
  border-radius: 16px;
}

.modal-content{
  width: 100%;
  border: none;
  border-radius: 16px;
}

.modal-header{
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.modal-ratenamenum{
  display: flex;
  justify-content: start;
  align-items: end;
  width: 86%;
}

.modal-ratename{
  width: auto;
  margin-right: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000;
}

.modal-ratenum{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(102, 102, 102, 0.8);
}

.modal-header .btn-close{
  padding: 5px;
  margin: 0;
}

.modal-body{
  padding: 25px 20px;
}

.modal-ratetable{
  width: 100%;
}

.modal-ratetable th, .modal-ratetable td{
  padding: 13px 15px;
}

.modal-ratetable th {
  background: #FBFBFB;
  text-align: center;
}

.modal-ratetable thead tr{
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #212121;
}

.modal-ratetable tr th{
  border-right: 1px solid #DCDCDC;
}

.modal-ratetable tr th:last-child{
  border-right: none;
}

.modal-ratetable tbody tr{
  font-size: 13px;
  font-weight: 400;
  color: #666;
  border-bottom: 1px solid #f0f0f0;
}

.modal-ratetable tbody tr td{
  color: #212121;
  text-align: center;
}

.modal-content button.btn{
  width: 100%;
  border-radius: 0px 0px 16px 16px;
  border: none;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}




/* rate-modal */


/* section2 */

/* section3 */

.sig{
  padding: 20px 0px;
}

.sig-header{
  padding: 0px 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #212121;
}

.sig-swiper{
  width: 100%;
  margin-top: 15px;
  padding: 0px 16px;
}

.sig-slide{
  height: 205px;
  border: none;
  text-align: left;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  color: #fff;
}

.swiper .swiper-pagination {
  position: relative;
  bottom: 0 !important;
  z-index: 1 !important;
  margin-top: 15px;
}

.swiper-pagination-bullet-active{
  background: #000;
}

.sig-top{
  position: relative;
}

.sig-name{
  width: calc(100% - 135px);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.sig-top span{
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.alarm{
  position: absolute;
  right: 0;
  top: 5px;
  border-radius: 100px;
  padding: 7px 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  align-items: center;
}

.alarm::before{
  background: url(../img/al-home/alarm.png) no-repeat 0px 0px;
  background-size: 20px 20px;
  content: "";
  display: inline-block;
  vertical-align:middle;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.red-check{
  position: absolute;
  right: 0;
  top: 5px;
  background: #fff;
  border-radius: 100px;
  padding: 7px 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  align-items: center;
}

.red-check::before{
  background: url(../img/al-home/red-check.png) no-repeat 0px 0px;
  background-size: 20px 20px;
  content: "";
  display: inline-block;
  vertical-align:middle;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.blue-check{
  position: absolute;
  right: 0;
  top: 5px;
  background: #fff;
  border-radius: 100px;
  padding: 7px 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  display: flex;
  align-items: center;
}

.blue-check::before{
  background: url(../img/al-home/blue-check.png) no-repeat 0px 0px;
  background-size: 20px 20px;
  content: "";
  display: inline-block;
  vertical-align:middle;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.sig-bot{
  margin-top: 40px;
}

.sig-txt{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}

.sig-txt:last-child{
  margin-bottom: 0;
}

.sig-txt::before{
  width: 15px;
  content: "·";
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  margin-top: -2px;
  margin-right: 5px;
}

.swiper-slide.sig-no-slide{
  height: 58px;
  border: none;
  border-radius: 12px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  margin: auto 0;
}

.sig-no{
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: relative;

  /* animation */
  animation-name: nosig;
  animation-duration: 7s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes nosig{
  0%{
    bottom: 0px;
  }

  11.11%{
    bottom: 0px;
  }

  22.22%{
    bottom: 0px; 
  }

  33.33%{
    bottom: 40px;
  }

  44.44%{
    bottom: 40px;
  }

  55.55%{
    bottom: 40px;
  }

  66.66%{
    bottom: 80px;
  }

  77.77%{
    bottom: 80px;
  }

  88.88%{
    bottom: 80px;
  }

  100%{ 
    bottom: 120px;
  }
  

}


.sig-no img{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  width: 22px;
  height: 22px;
}

/* section3 */

/* section4 */

.pos{
  padding: 20px 16px;
}

.pos-header{
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pos-header-name{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #212121;
}

.pos-header-his{
  background: none;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #666;
  position: relative;
  margin-right: 18px;
}

.pos-header-his::after{
  position: absolute;
  top: 5px;
  right: -15px;
  content: "";
  width: 8px;
  height: 8px;
  border: 1.5px solid #666;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

.pos-box{
  margin-top: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 20px;
}

.nav.tab-custom{
  width: 100%;
  border: none;
  background: #F0F2F4;
  border-radius: 4px;
}

.pos-nav.nav-link{
  padding: 10px 0px !important;
  margin: 2px !important;
  width: calc(50% - 4px);
  border-radius: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #999;
}

.pos-nav.nav-link:hover{
  color: #999;
}

.pos-nav.nav-link.active{
  background-color: #fff;
  color: #212121;
}

.tab-content{
  margin-top: 10px;
}

.pal-list, .pri-list{
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F5F7F6;
}

.pal-list:last-child, .pri-list:last-child{
  border-bottom: none;
}

.list-left{
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.list-icn{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
}

.list-name{
  width: 70%;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}

.list-right{
  text-align: right;
}

.list-pri{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.list-per{
  font-size: 13px;
  font-weight: 500;
  line-height: 16.28px;
}

.list-per span{
  display: inline-block;
  margin-right: 8px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.77px;
  color: #999;
}


/* section4 */

/* section5 */

.inv{
  padding: 20px 16px 40px;
}

.inv-header{
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #212121;
}

.inv-info{
  padding: 15px 0px 20px;
}

.info-list{
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  display: flex;
  justify-content: start;
  align-items: center;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 11px 15px;
  margin-bottom: 12px;
}

.info-list:last-child{
  margin-bottom: 0;
}

.info-icn{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 12px;
  background: #B5B5B5;
}

.info-icn img{
  width: 35px;
}

.info-txt{
  width: calc(100% - 65px);
}

.info-txtt{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #212121;
}

.info-txtt span{
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid rgba(239, 34, 71, 0.4);
  border-radius: 4px;
  padding: 3px 6px;
  color: #E00D14;
  font-weight: 500;
  font-size: 11px;
  line-height: 13.77px;
  margin-right: 6px;
}

.info-txtb{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  margin-top: 4px;
}


/* section5 */




/* open modal */
.open_popup button.none{
  display: none;
}

.open_popup .modal-txt{
  padding: 30px 0px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.53px;
  color: #666;
}

.open_popup .modal-txt strong{
  display: block;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
}

.modal-top-txt{
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #212121;
  margin-bottom: 10px;
}

.modal-bot-txt{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #212121;
}

.open_popup .modal-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open_popup .modal-btn button{
  background: #DEE2E6;
  border-radius: 0px 0px 0px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #666;
}

.open_popup .modal-btn button.btn-bg{
  background: #4F3FC6;
  border-radius: 0px 0px 16px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.open_popup .modal-header{
  display: block;
  position: relative;
  text-align: center;
}

.open_popup .modal-header .header-txt{
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000;
  text-align: center;
}

.open_popup .modal-header button.btn-close{
  position: absolute;
  top: 16px;
  right: 20px;
}

.open_popup .modal-txt{
  padding: 25px 20px;
}

.open_popup .modal-txt .txt1{
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #212121;
  margin-bottom: 10px;
  text-align: left;
}

.open_popup .modal-txt .txt2-top{
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #212121;
  text-align: left;
}

.open_popup .modal-txt .txt2-list{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #212121;
  text-align: left;
}

.open_popup .modal-txt .txt2-list::before{
  width: 15px;
  content: "·";
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  text-align: center;
  margin-top: -2px;
  margin-right: 5px;
}

.modal-btn button.btn-alarm{
  border-radius: 0px 0px 16px 16px !important;
}

.popup.modal{
  padding-right: 0 !important;
}

/* open modal */


/* 영웅로직 */

/* section1 */

.log1{
  width: 100%;
  padding: 30px 16px 20px;
}

.log1_top{
  width: 100%;
  padding: 0px 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}

.top-txt span{
  display: block;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #212121;
}

.top-txt button{
  border: none;
  background: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #666;
  position: relative;
}

.top-txt button::before {
  position: absolute;
  top: 5px;
  right: -15px;
  content: "";
  width: 7px;
  height: 7px;
  border: 1.5px solid #666;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

.top-img img{
  width: 60px;
}

.log1_bot{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.bot-con{
  border: none;
  text-align: left;
  width: 48%;
  height: 115px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.con-txt{
  font-weight: 500;
  font-size: 13px;
  line-height: 16.28px;
  color: #212121;
}

.con-val{
  background: #F4F4F4;
  border-radius: 100px;
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 6px;
  color: #666;
}

.con-val:last-child{
  margin: 0;
}

.val-txt{
  font-size: 13px;
  font-weight: 400;
}

.blink1{
  animation: blink-effect1 1s step-end infinite;
}

@keyframes blink-effect1 {
  50% {
    opacity: 0;
  }
}

.blink2{
  animation: blink-effect2 1s step-end infinite;
  animation-delay: 0.5s;
}

@keyframes blink-effect2 {
  50% {
    opacity: 0;
  }
}

.con-val img{
  width: 20px;
  height: 20px;
  display: inline-block;
}

.con-stxt{
  height: 34px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #666;
  margin-top: 6px;
}

.con-stxt em{
  font-size: 11px;
}

.con-per{
  width: 100%;
  text-align: right;
  font-weight: 500;
  font-size: 25px;
  line-height: 31.3px;
}

/* section1 */

/* section2 */

.log2{
  padding: 20px 0px;
}

.log2_mo{
  padding: 0px 25px;
  width: 100%;
  height: 24px;
  overflow: hidden;
}

.mo-box{
  position: relative;
  animation-name: log2mo;
  animation-duration: 5s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes log2mo{
  0%{
    bottom: 0;
  }
  25%{
    bottom: 0;
  }
  50%{
    bottom: 35px;
  }
  75%{
    bottom: 35px;
  }
  100%{
    bottom: 68px;
  }
}

.cosp{
  height: 24px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cosp-name{
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.cosp-num{
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.cosp-num span{
  text-align: center;
  width: 60px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  border-radius: 4px;
  margin-left: 8px;
  font-weight: 500;
  font-size: 13px;
}

.log2_today{
  padding: 15px 0 8px;
}

.scr-buy{
  padding: 0px 16px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.scr-buy::-webkit-scrollbar{
  display: none;
}

.today-buy{
  border: none;
  text-align: left;
  width: 100%;
  height: 90px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today-buy.no-pos{
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.no-txt{
  width: 160px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.53px;
  color: #212121;
  margin-left: 40px;
}

.no-img{
  position: relative;
}

.no-img img{
  width: 50px;
}

.nopos{
  width: 100%;
}

.spinner-grow{
  width: 50px;
  height: 50px;
  background: none;
  --bs-spinner-animation-speed: 2s;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

.buy-txt{
  width: 150px;
  margin-left: 10px;
  margin-right: 13px;
}

.buy-txt span{
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  line-height: 16.28px;
  margin-bottom: 8px;
}

.buy-txt span em{
  font-weight: 400;
  font-size: 12px;
  color: #141414;
}

.buy-name{
  display: flex;
  justify-content: start;
  align-items: center;
}

.buy-name .arrow{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #999;
  margin-left: 6px;
}

.buy-name strong{
  display: inline-block;
  width: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
}

.buy-txt em.buy-pri{
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 16.28px;
  color: rgba(102, 102, 102, 0.8);
}

.buy-img{
  width: 100px;
  overflow: hidden;
  border-radius: 12px;
}

.buy-img img{
  width: 100px;
}

.all-btn{
  width: 100%;
  text-align: center;
  margin-top: 18px;
}

.all-btn button{
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #666;
  border: none;
  background: none;
  position: relative;
}

.all-btn button::before{
  position: absolute;
  top: 5px;
  right: -15px;
  content: "";
  width: 7px;
  height: 7px;
  border: 1.5px solid #666;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

.mask{
  position: absolute;
  width: 40px;
  height: 45px;
  animation: chart_mask 3s linear infinite;
}

@keyframes chart_mask{
  0%{
    transform: translateX(6px);
  }
  20%{
    transform: translateX(6px);
  }
  40%{
    transform: translateX(25px);
  }
  60%{
    transform: translateX(50px);
  }
  80%{
    transform: translateX(50px);
  }
  100%{
    transform: translateX(50px);
  }
}



/* section2 */

/* section3 */

.log3{
  padding: 20px 16px 40px;
}

.log-tran{
  padding: 30px 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 20px;
}

.tran-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.tran-txt{
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #212121;
}

.tran-txt span{
  font-weight: 500;
  display: inline-block;
  margin-left: 5px;
}

.tran-img_blend{
  filter: blur(5px);
}

.log-res{
  padding: 30px;
  margin-bottom: 20px;
  background: #47A767;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.res-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #74CF92;
}

.res-head span{
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.7);
}

.res-headname{
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
}

.res-list{
  padding-top: 20px;
}

.list-con{
  border: none;
  background: none;
  text-align: left;
  width: 100%;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-con:last-child{
  padding-bottom: 0;
}

.list-con_name{
  width: 60%;
  position: relative;
  display: flex;
  align-items: end;
}

.list-con_name span{
  /* width: calc(100% - 40px); */
  width: auto;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  line-height: 20.03px;
  color: #fff;
  margin-right: 6px;
}

.list-con_name em{
  display: inline-block;
  font-weight: 400;
  font-size: 11px;
  line-height: 17.03px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
}

.list-con_per{
  width: 40%;
  text-align: right;
}

.list-con_per span{
  padding: 4px 8px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.53px;
}

.list-con_per span em{
  font-weight: 400;
  font-size: 12px;
  line-height: 15.02px;
}

.log-hisu{
  padding: 30px;
  background: #586CDD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.hisu-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #8997E6;
}

.hisu-headname{
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.hisu-head span{
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.5);
}

.hisu-list{
  margin-top: 6px;
}

.hisu-con{
  width: 100%;
  border: none;
  text-align: left;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.hisu-con:last-child{
  padding-bottom: 0;
}

.hisu-con_left{
  width: 65%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hisu-num{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-right: 14px;
  background: #81A0F1;
  color: #fff;
}

.hisu-name{
  width: calc(100% - 45px);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.hisu-con_right{
  width: 35%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.hisu-per{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 12px;
}

.hisu_right-btn img{
  width: 24px;
}

/* section3 */

/* section4 */

.log_inv{
  padding: 0px 16px 40px;
}

.log_inv-info{
  padding: 16px 0px;
}

.inv-head{
  padding: 0px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #212121;
}

.info-more{
  width: 100%;
  text-align: center;
  border-top: 1px solid #EEEEEE;
  padding-top: 18px;
}

.info-more button{
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #666;
  border: none;
  background: none;
  position: relative;
}

.info-more button::before{
  position: absolute;
  top: 5px;
  right: -15px;
  content: "";
  width: 6px;
  height: 6px;
  border: 1.5px solid #666;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

/* section4 */

.log-icn-bg{
  background: #404257 !important;
}


/* 영웅로직 */
