.hspace100 {
  display: block;
  width: 100%;
  height: 10rem;
  float: left
}

* {
  font-family: 'Noto Sans KR', sans-serif
}

.sr-only {
  text-indent: -9999em
}

@media only screen and (max-width:640px) {
  html {
    font-size: 43.75%
  }

  img {
    max-width: 320px
  }
}

@media screen and (min-width:640px) {
  html {
    font-size: 62.5%
  }
}

body,
html {
  height: 100%
}

.btn-primary {
  background: #7773f7
}

.btn-secondary {
  background: #5a56d5
}

#wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto
}

#wrap #content {
  width: 100%;
  min-height: calc(100% - 21rem);
  padding-bottom: 10rem;
  float: left
}

#wrap footer {
  width: 100%;
  min-height: 21rem;
  float: left;
  background: #303030
}

#content>.top {
  width: 100%;
  height: 28rem;
  /* //////////////////////////링크 주의////////////////////////// */
  background: #7874f7 url(/img/top.png) no-repeat center 6.5rem;
  /* //////////////////////////링크 주의////////////////////////// */
  background-size: 5.7rem auto;
  text-align: center;
  padding-top: 15rem;
  float: left
}

#content>.top strong {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 700
}

#content .con {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  clear: both
}

#content .con .guide {
  width: 100%
}

#content .con .guide .top {
  height: 29rem;
  padding-top: 7rem;
  text-align: center
}

#content .con .guide .top>span {
  display: inline-block;
  min-width: 13.3rem;
  height: 4.5rem;
  line-height: 4.3rem;
  border: .1rem solid #7773f7;
  border-radius: 4.5rem;
  text-align: center;
  font-size: 3rem;
  color: #7773f7;
  padding: 0 1rem;
}

#content .con .guide .top strong {
  display: block;
  width: 100%;
  padding-top: 3.5rem;
  font-size: 3rem;
  line-height: 4.3rem;
  color: #333;
  font-weight: 700
}

#content .con .guide .top strong span {
  font-size: 3rem;
  color: #7773f7
}

#content .con .guide .list {
  display: block;
  width: 100%;
  text-align: center
}

#content .con .guide .join {
  display: block;
  width: 100%;
  max-width: 58rem;
  padding: 0 1rem;
  text-align: center;
  margin: 5rem auto 0;
}

#content .con .guide .join strong {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  color: #000
}

#content .con .guide .join button {
  height: 9rem;
  line-height: 9rem;
  width: 100%;
  border-radius: 0;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 4rem;
  border: 0;
  padding: 0
}

#content .con .guide .join .txt {
  display: inline-block;
  width: 100%;
  padding: 4.5rem .5rem 3.5rem .5rem;
  text-align: left
}

#content .con .guide .join .txt::before {
  display: block;
  width: 2.5rem;
  height: 2.4rem;
  line-height: 2.4rem;
  font-size: 1.8rem;
  color: #666;
  text-align: center;
  float: left;
  content: '*'
}

#content .con .guide .join .txt span {
  display: block;
  width: calc(100% - 2.5rem);
  line-height: 2.4rem;
  float: left;
  font-size: 1.8rem;
  color: #666
}

.login {
  display: block;
  width: 100%;
  text-align: center;
  float: left
}

.login .txt {
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #666
}

.login .user_input {
  display: inline-block;
  width: 100%;
  max-width: 58rem;
  padding: 0 1rem;
  margin-top: 7rem
}

.login .user_input .input-group {
  display: block;
  margin-bottom: 2rem;
  float: left
}

.login .user_input .input-group:last-child {
  margin-bottom: 0
}

.login .user_input .input-group input[type=text] {
  display: block;
  width: calc(100% - 19rem);
  height: 7.5rem;
  line-height: 7.3rem;
  border: 1px solid #d6d6d6;
  font-size: 2.4rem;
  color: #666;
  float: left
}

.login .user_input .input-group input[type=text]::placeholder {
  font-size: 2.4rem;
  color: #666
}

.login .user_input .input-group button {
  display: block;
  width: 15.8rem;
  height: 7.3rem;
  line-height: 7.3rem;
  border: 1px solid #7874f7;
  float: right;
  text-align: center;
  font-size: 2.4rem;
  color: #7874f7;
  font-weight: 700;
  box-sizing: inherit;
  padding: 0;
  background: #fff
}

.login .user_input .input-group button:visited {
  background: #fff
}

.login .user_input .input-group button:active,
.login .user_input .input-group button:focus {
  background: #7874f7;
  color: #fff
}

.joinus {
  display: block;
  width: 100%;
  padding: 0 1rem;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.joinus .check-ag {
  display: inline-block
}

.joinus .check-ag .form-check {
  position: relative;
  display: block;
  margin: 0 0 3rem 0;
  padding: 0;
  float: left;
  clear: left
}

.joinus .check-ag .form-check:last-child {
  margin-bottom: 0
}

.joinus .check-ag .form-check input[type=checkbox] {
  position: absolute;
  top: 0;
  left: -9999em
}

.joinus .check-ag .form-check input[type=checkbox]+label {
  position: relative;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  cursor: pointer;
  float: left
}

.joinus .check-ag .form-check input[type=checkbox]+label::after {
  position: absolute;
  display: none;
  content: '';
  left: .8rem;
  top: .4rem;
  width: .6rem;
  height: 1.2rem;
  border: solid #fff;
  border-width: 0 .2rem .2rem 0;
  transform: rotate(45deg)
}

.joinus .check-ag .form-check input[type=checkbox]:checked+label {
  background: #7874f7
}

.joinus .check-ag .form-check input[type=checkbox]:checked+label::after {
  display: block
}

.joinus .check-ag .form-check .labelling-text {
  display: block;
  float: left;
  font-size: 2.4rem;
  color: #000;
  line-height: 2.4rem;
  padding-left: 1rem
}

.joinus .check-ag .form-check .labelling-text a {
  font-weight: 700;
  text-decoration: underline;
  color: #000
}

.joinus .referral {
  display: block;
  width: 100%;
  margin-top: 10rem;
  float: left
}

.joinus .referral p {
  display: inline-block;
  width: 100%;
  padding: 0 1rem;
  text-align: left;
  font-size: 2.4rem;
  color: #666;
  margin: 0
}

.joinus .referral .rdo-rf {
  display: inline-block;
  width: 100%;
  padding: 2.4rem 1rem 0 1rem;
}

.joinus .referral .rdo-rf .form-check {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 2.5rem;
  margin-left: 0;
  padding-left: 0
}

.joinus .referral .rdo-rf .form-check:last-child {
  margin-bottom: 0
}

.joinus .referral .rdo-rf .form-check input[type=radio] {
  position: absolute;
  top: 0;
  left: -9999em
}

.joinus .referral .rdo-rf .form-check input[type=radio]+label {
  position: relative;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: left;
  padding: 0;
  margin: 0;
  float: left;
  font-size: 2.4rem;
  color: #000;
  cursor: pointer;
  float: left
}

.joinus .referral .rdo-rf .form-check input[type=radio]+label::after {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #cbcbcb;
  background: #ededed;
  border-radius: 100%;
  content: '';
  float: left;
  margin-right: 1rem
}

.joinus .referral .rdo-rf .form-check input[type=radio]:checked+label::after {
  background: #fff
}

.joinus .referral .rdo-rf .form-check input[type=radio]:checked+label::before {
  position: absolute;
  content: '';
  top: 1rem;
  left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #7874f7;
  border-radius: 100%
}

.joinus .referral-code {
  display: inline-block;
  width: 100%;
  padding: 0 1rem;
  margin-top: 4rem
}

.joinus .referral-code input {
  width: 100%;
  height: 7.5rem;
  border: 1px solid #d6d6d6;
  font-size: 2.4rem;
  color: #666
}

.joinus .referral-code button {
  margin-top: 2.5rem;
  height: 7.5rem;
  line-height: 7.5rem;
  width: 100%;
  font-size: 2.4rem;
  color: #fff;
  font-weight: 700;
  padding: 0;
  border: 0
}

.itemList {
  display: block;
  width: 100%;
  padding: 0 1rem;
  margin: 5rem auto 0;
  overflow: hidden;
  text-align: left
}

.itemList .list {
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 4rem
}

.itemList .list>strong {
  display: block;
  width: 100%;
  float: left;
  font-size: 2rem;
  text-indent: .5rem;
  text-align: left
}

.itemList .list>strong span {
  color: #333;
  font-weight: 400
}

.itemList .list>strong span em {
  font-style: normal;
  color: #000;
  font-weight: 700
}

.itemList .list input[type=radio] {
  position: absolute;
  left: -9999em
}

.itemList .list input[type=radio]+label.box {
  cursor: pointer
}

.itemList .list input[type=radio]:checked+label.box {
  background: #7773f7
}

.itemList .list input[type=radio]:checked+label.box .date,
.itemList .list input[type=radio]:checked+label.box .price {
  color: #fff
}

.itemList .list input[type=radio]:checked+label.box .date span,
.itemList .list input[type=radio]:checked+label.box .date strong,
.itemList .list input[type=radio]:checked+label.box .price span,
.itemList .list input[type=radio]:checked+label.box .price strong {
  color: #fff
}

.itemList .list .box {
  position: relative;
  display: block;
  width: 100%;
  height: 10.6rem;
  line-height: 10.6rem;
  border: 1px solid #7773f7;
  border-radius: 1rem;
  padding: 0 2rem;
  margin-top: 2rem;
  float: left
}

.itemList .list .box-big {
  height: 21.5rem;
  line-height: inherit;
  padding: 1.5rem
}

.itemList .list .box-big>strong {
  display: block;
  width: 100%;
  height: 2.6rem;
  line-height: 2.6rem;
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  float: left;
  margin-top: 2.5rem;
  text-align: left
}

.itemList .list .box-big .price {
  height: 4rem;
  line-height: 4rem;
  float: left
}

.itemList .list .box-big .date {
  height: 4rem;
  line-height: 4rem;
  float: right
}

.itemList .list .box-big .datelist {
  display: block;
  clear: both;
  width: 100%;
  height: 6.7rem;
  line-height: 6.7rem;
  background: #ebebeb;
  float: left;
  padding: 0 2rem;
  margin-top: 2rem
}

.itemList .list .box-big .datelist strong {
  display: block;
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  float: left
}

.itemList .list .box-big .datelist span {
  display: block;
  font-size: 2.4rem;
  color: #000;
  font-weight: 300;
  float: right
}

.itemList .list .box-cho {
  margin-bottom: 2rem
}

.itemList .list .box .price {
  display: block;
  float: left
}

.itemList .list .box .price strong {
  font-size: 3rem;
  color: #000;
  font-weight: 300;
  display: block;
  float: left
}

.itemList .list .box .price strong em {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700
}

.itemList .list .box .price span {
  display: block;
  float: left;
  font-size: 2rem;
  color: #7773f7;
  font-weight: 300
}

.itemList .list .box .date {
  display: block;
  font-size: 2rem;
  color: #000;
  font-weight: 300;
  float: right
}

.itemList .list .box .datelist {
  display: block;
  width: 100%;
  font-size: 2.4rem;
  color: #000;
  font-weight: 300
}

.itemList .list button {
  width: 100%;
  height: 10.6rem;
  border-radius: 1rem;
  margin-top: 2.5rem;
  font-size: 2.4rem;
  color: #fff;
  font-weight: 700
}

.itemList .txt {
  display: block;
  width: 100%;
  float: left;
  margin-top: 2rem;
}

.itemList .txt span {
  display: block;
  width: 100%;
  float: left;
  font-size: 2rem;
  height: auto;
  min-height: 3rem;
  line-height: 3rem;
  color: #666;
  font-weight: 300;
  padding: 0;
  margin: 0
}

.itemList .txt span em {
  display: block;
  width: calc(100% - 2.4rem);
  line-height: 3rem;
  font-style: normal;
  float: left
}

.itemList .txt span::before {
  display: block;
  width: 2.4rem;
  height: 3rem;
  line-height: 3rem;
  float: left;
  content: '*';
  font-size: 2rem;
  color: #666;
  font-weight: 300;
  text-align: center;
  padding: .5rem 0
}

footer .fnb {
  display: block;
  width: 100%;
  max-width: 64rem;
  margin: 3.5rem auto 0;
  overflow: hidden
}

footer .fnb menu {
  margin: 0;
  padding: 0 3.5rem;
  float: left
}

footer .fnb li {
  display: block;
  height: 2rem;
  line-height: 2rem;
  float: left
}

footer .fnb li:first-child a {
  padding-left: 0
}

footer .fnb li:first-child::before {
  content: '';
  border-left: 0
}

footer .fnb li::before {
  display: block;
  height: 2rem;
  content: '';
  float: left;
  border-left: 1px solid #9e9e9e
}

footer .fnb li a {
  font-style: normal;
  height: 2rem;
  line-height: 2rem;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  float: left
}

footer address {
  display: block;
  width: 100%;
  max-width: 64rem;
  line-height: 3.5rem;
  padding: 3.5rem 3rem;
  font-size: 2rem;
  color: #fff;
  margin: 0 auto
}

footer address strong {
  font-size: 2rem;
  font-weight: 700
}

footer address em {
  font-size: 2rem;
  font-style: normal;
  padding-left: 1rem
}

footer address em::before {
  content: '｜';
  padding-right: 1rem;
  color: #9e9e9e
}

footer address a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none
}

.custom.modal {
  width: 100%;
  text-align: center;
  overflow: auto
}

.custom.modal .modal-dialog {
  display: inline-block;
  width: 90%;
  max-width: 58.5rem;
  margin: 19rem 0 0 0;
  padding: 0;
  text-align: left
}

.custom.modal .modal-dialog.modal-sm {
  width: 40rem
}

.custom.modal .modal-dialog.modal-sm .modal-body {
  text-align: center;
  font-size: 2.4rem;
  color: #000;
  padding-bottom: 5rem
}

.custom.modal .modal-dialog.modal-sm .modal-footer {
  padding-bottom: 5rem
}

.custom.modal .modal-dialog .modal-header {
  border-bottom: 0
}

.custom.modal .modal-dialog .modal-header .btn-close {
  width: 2.8rem;
  height: 2.8rem;
  background-size: cover;
  padding: 0;
  margin: 2.5rem;
  box-sizing: border-box
}

.custom.modal .modal-dialog .modal-content {
  border-radius: 1rem
}

.custom.modal .modal-dialog .modal-content .modal-body {
  text-align: center;
  font-size: 2.4rem;
  color: #000;
  padding-bottom: 5rem;
  font-style: normal
}

.custom.modal .modal-dialog .modal-content .sv-guide {
  display: block;
  width: 100%;
  line-height: 3.6rem;
  text-align: Center;
  font-size: 2.4rem;
  color: #000;
  padding-bottom: 9rem
}

.custom.modal .modal-dialog .modal-content .sv-guide em {
  font-style: normal;
  color: #7874f7
}

.custom.modal .modal-dialog .modal-footer {
  border-top: 0;
  justify-content: center;
  padding-bottom: 9rem
}

.custom.modal .modal-dialog .modal-footer button {
  width: 19rem;
  height: 6.6rem;
  line-height: 6.6rem;
  border-radius: 6.6rem;
  font-size: 2.4rem;
  color: #fff;
  padding: 0;
  border: 0
}

.custom1.modal .modal-content {
  border-radius: 1rem;
  margin-top: 30%;
}

.custom1.modal .modal-header {
  padding: 0;
  border: 0;
}

.custom1.modal .modal-header button {
  width: 1.6rem;
  height: 1.6rem;
  margin: 2rem 2rem 0 0;
}

.custom1.modal .modal-body .caution .top {
  padding-top: 0 !important;
  height: auto !important;
  overflow: hidden;
}

#content .con .guide .custom1.modal .modal-body .caution .top img {
  width: 10.6rem;
}

#content .con .guide .custom1.modal .modal-body .caution .top>span {
  width: 100%;
  height: auto;
  min-width: 100%;
  font-size: 3.2rem;
  color: #000;
  font-weight: 700;
  padding: 2rem 0 0 0;
  margin: 0;
  border: 0;
}

#content .con .guide .custom1.modal .modal-body .caution .txt {
  width: 100%;
  height: auto;
  margin-top: 4rem;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#content .con .guide .custom1.modal .modal-body .caution .txt div {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2.3rem;
  color: #000;
  line-height: 3.3rem;
  padding-bottom: 3.3rem;
  font-weight: 400;
}

#content .con .guide .custom1.modal .modal-body .caution .txt div em {
  color: #5a56d5;
  font-style: normal;
}

#content .con .guide .custom1.modal .modal-body .caution .button {
  display: block;
  width: 100%;
  padding: 4rem 0 6rem 0;
  text-align: center;
}

#content .con .guide .custom1.modal .modal-body .caution .button a {
  display: inline-block;
  width: 21.6rem;
  height: 5.7rem;
  line-height: 5.7rem;
  border-radius: 5.7rem;
  background: #353C73;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
}



/* /////////////////////////////무통장 추가////////////////////////////////////////////////// */
.noBank{
  margin-bottom: 4rem;
}

.noBank_title{
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 2rem;
}

button.noBank-btn{
  width: 100%;
  padding: 0px 2rem;
  text-align: left;
  line-height: 10.6rem;
  border-radius: 1rem;
  border: 1px solid #7874F7;
  background: #F3F3FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-pri{
  display: flex;
  justify-content: start;
  align-items: center;
}

.btn-pri span{
  display: block;
  color: #141414;
  font-size: 3rem;
  font-weight: 700;
}

.btn-pri em{
  display: block;
  font-size: 2rem;
  font-weight: 300;
  color: #7773f7;
  font-style: normal;
}

.btn-right{
  display: block;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}

.btn-right span{
  color: #F00;
}

.modalNoBank .modal-body{
  padding-top: 0;
  padding-right: 3rem;
  padding-left: 3rem;
}

.popTitle{
  color: #000;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.popTxt{
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.popBox{
  background: #EBEBEB;
  font-size: 2rem;
  padding: 16px 0;
  border-radius: 2rem;
  margin-bottom: 4rem;
}

.popBox p{
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

.popTime strong{
  display: block;
  margin-bottom: 1.2rem;
  font-size: 2rem;
}

.popTime span{
  display: block;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.popBtn{
  width: 100%;
  text-align: center;
}

.popBtn button{
  width: 27rem;
  border: none;
  background: #6565FF;
  border-radius: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 2.2rem;
  padding: 1.2rem 0;
}

.top em{
  display: block;
  font-style: normal;
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 400;
}