.content-header{
  display: flex;
  justify-content: start;
  align-items: center;
  background: #4C4E5D;
  padding: 15px;
}

button.back-btn{
  border: none;
  background: none;
  margin-right: 10px;
  line-height: 15px;
}

.header-txt{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

/* content-header */

/* section1 */

.evtana{
  padding: 10px 16px 30px;
  background: #4C4E5D;
}

.evt-header{
  width: 100%;
  padding: 0px 10px;
}

.evt-name{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 6px;
}

.evt-name span{
  display: inline-block;
  margin-left: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.evt-flex{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.evt-pri{
  font-weight: 700;
  font-size: 22px;
  line-height: 27.54px;
  color: #fff;
}

.evt-pri em{
  font-weight: 400;
  font-size: 14px;
  line-height: 17.53px;
  color: #fff;
}

.evt-pri span.evt-per{
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  line-height: 16.28px;
  color: #FFA0A0;
  margin-left: 6px;
} 

.evt-time{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.evt-box{
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.evt-alarm{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 20px;
}

.evt-alarm-b{
  padding: 5px 10px;
  border-radius: 100px;
}

.evt-alarm img{
  display: inline-block;
  vertical-align:middle;
  width: 20px;
  margin-right: 5px;
}

.evt-alarm span{
  display: inline-block;
  vertical-align: middle;
  border-radius: 100px;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
}

.evt-txt{
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #212121;
}

.evt-txt::before{
  width: 15px;
  content: "·";
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  margin-top: -2px;
  margin-right: 5px;
}

.evt-txt:last-child{
  margin-bottom: 0;
}

.evt-foot{
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #999;
}

.evt-foot img{
  display: block;
  width: 13px;
  margin-right: 5px;
  margin-top: 2.5px;
}

/* section1 */

/* section2 */

.aiscore{
  padding: 40px 16px;
}

.ai-header{
  padding: 0px 10px;
  display: flex;
  justify-content: start;
  align-items: end;
}

.ai-headertxt{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #212121;
  margin-right: 8px;
}

button.ai-icn{
  border: none;
  background: none;
}

.ai-icn img{
  width: 16.5px;
}

.ai-box{
  margin-top: 18px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 20px;
}

.ai-chart{
  margin-bottom: 22px;
}

.ai-chart img{
  width: 100%;
}

table.ai-table{
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 16.28px;
  color: #212121;
}

.ai-table thead tr{
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.ai-table thead tr th{
  padding: 13px 15px;
  text-align: center;
  background: #FBFBFB;
  border-right: 1px solid #DCDCDC;
}

.ai-table thead tr th:last-child{
  border-right: none;
}

.ai-table tbody tr{
  border-bottom: 1px solid #DCDCDC;
}

.ai-table tbody tr th, .ai-table tbody tr td{
  padding: 13px 15px;
}

.ai-table tbody tr th{
  background: #FBFBFB;
  text-align: left;
  border-right: 1px solid #DCDCDC;
  color: #666666;
}

.ai-table tbody tr td{
  border-right: 1px solid #DCDCDC;
  color: #666;
  text-align: right;
}

.ai-table tbody tr td:last-child{
  border-right: none;
}

.ai-table tbody tr td strong{
  font-weight: 700;
  color: #212121;
}

/* section2 */

/* section3 */

.perform{
  padding: 40px 16px;
}

.per-header{
  padding: 0px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #212121;
  margin-bottom: 15px;
}

.nav-tabs.tab-custom{
  border: none;
  margin: 0px 10px;
}

.nav-tabs.tab-custom .nav-link{
  border: none;
  padding: 6.5px 12px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #999;
  background: #F0F2F4;
  border-radius: 3px;
  margin-right: 8px;
}

.nav-tabs.tab-custom .nav-link.active{
  background: #6C7885;
  color: #fff;
}

.tab-content{
  margin-top: 20px;
}

.nav-tabs.tab-custom .tab-content .tab-pane img{
  width: 100%;
}

/* section3 */

/* section4 */

.analysis{
  padding: 40px 16px;
}

.ana-header{
  padding: 0px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #212121;
  margin-bottom: 15px;
}

.unit{
  width: 100%;
  text-align: right;
  padding-right: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16.28px;
  color: #999;
  margin-bottom: 10px;
}

.ana-table{
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.table-left{
  display: block;
  width: 128px;
}

.table-custom-ana th, .table-custom-ana2 th{
  border-top: 1px solid #DCDCDC;
  background: #F8F8F8; 
}

.table-custom-ana th, .table-custom-ana td, .table-custom-ana2 th, .table-custom-ana2 td{
  height: 40px;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.28px;
  color: #212121;
  border-right: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.table-custom-ana tbody tr td:first-child{
  color: #666;
}

.table-right{
  width: calc(100% - 128px);
  overflow-x: auto;
}

.ana_rdo{
  padding: 0px 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.ana_rdo label{
  margin-left: 8px;
  margin-right: 20px;
  font-size: 13px;
  color: #212121;
}

.range{
  display: block;
  width: 100%;
  background: #F0F2F4;
  border-radius: 5px;
  padding: 0px 20px;
  margin-bottom: 20px;
}

.form-range{
  width: 100%;
  margin-top: 10px;
}

.range label{
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  padding-bottom: 10px;
}

/* section4 */

/* section5 */

.chart_ana{
  padding: 40px 16px;
}

.chart_ana-header{
  padding: 0px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #212121;
  margin-bottom: 15px;
}

.chart_ana-tab .tab-custom-table{
  width: 100%;
  display: table;
  table-layout: fixed;
  text-align: center;
  background: #F0F2F4;
  border-radius: 3px;
  border: none;
}

.chart_ana-tab .tab-custom-table .nav-link{
  padding: 6.5px 0;
  border: none;
  margin: 0;
  display: table-cell;
  width: calc(100% / 6);
  font-weight: 400;
  font-size: 13px;
  line-height: 16.57px;
  text-align: center;
  color: #999;
}

.chart_ana-tab .tab-custom-table .nav-link.active{
  color: #fff;
  background: #6C7885;
  border-radius: 3px;
}

/* section5 */

/* section6 */

.sig{
  padding: 40px 26px 40px;
}

.sig-header{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #212121;
}

.sig-con{
  margin-top: 20px;
}

.sig-list{
  padding-bottom: 18px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
}

.sig-list:last-child{
  padding-bottom: 0;
}

.sig-icn{
  width: 10px;
  height: 10px;
  background: #F7F9FA;
  border: 2px solid #4F3FC6;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin-top: 7px;
  margin-right: 10px;
  position: absolute;
  z-index: 5;
}

.sig-list::after{
  content: "";
  width: 2px;
  height: 100%;
  background: #D9D9D9;
  position: absolute;
  left: 4px;
  top: 10px;
  z-index: 1;
}

.sig-list:last-child::after{
  display: none;
}

.sig-main{
  padding-left: 31px;
}

.sig-list .date{
  border: 1px solid #D9D9D9;
  border-radius: 100px;
  display: inline-block;
  padding: 3px 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16.28px;
  text-align: center;
  color: #999;
  margin-bottom: 5px;
}

.sig-list-txt{
  font-weight: 400;
  font-size: 14px;
  line-height: 17.53px;
  color: #141414;
}



/* section6 */