/* section1 */

.ser-main {
  width: 100%;
  padding: 15px 25px 30px;
  background: #6a61e0;
}

.ser-main-top {
  font-weight: 400;
  font-size: 9px;
  line-height: 11.27px;
  color: rgb(255, 255, 255, 0.5);
  margin-bottom: 30px;
}

.main-header {
  margin-bottom: 60px;
}

.head-top {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}

.head-top span {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 15.02px;
  color: #fff;
  background: #4115bc;
  border-radius: 100px;
  padding: 2px 10px;
  margin-right: 5px;
}

.head-txt {
  margin-top: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.head-txt span {
  display: inline-block;
  padding: 1px 12px;
  border-radius: 100px;
  background: #282550;
  color: #dc75ff;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-right: 10px;
}

.head-txt strong {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
}

.body-icn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #dad8f2;
}

.body-icn img {
  width: 36px;
  height: 36px;
  display: block;
  margin: 0 auto;
  margin-bottom: 7px;
}

.ser_app {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.ser_app button {
  padding: 8px 88px;
  background: #423c9a;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.main-footer {
  width: 100%;
  background: #363636;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  padding: 20px 15px;
  color: rgb(255, 255, 255, 0.6);
}

.main-footer span {
  color: #e4e81a;
  opacity: 0.6;
}

/* section1 */

/* section2 */

.ser-alarm {
  padding: 60px 0px;
  text-align: center;
}

.alarm-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #212121;
  margin-bottom: 15px;
}

.alarm-sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #666;
  margin-bottom: 30px;
}

/* alarm-animation */

.alarm-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alarm-ele01 img {
  width: 240px;
}

.alarm-ele02 img {
  width: 220px;
}

.alarm-ele03 img {
  width: 312px;
}

.alarm-ele01 {
  width: 240px;
  position: relative;
}

.alarm-ele03 {
  position: absolute;
  top: 70px;
  left: -36px;
  /* animation: alaele02 5s infinite; */
}
/* 
@keyframes alaele02 {
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0;
  }
  35%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
} */

/* alarm-animation */

/* section2 */

/* section3 */

.ser-ana {
  padding: 60px 0px;
  background: #eff4ff;
}

.ana-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #212121;
  margin-bottom: 30px;
  text-align: center;
}

.ana-swiper {
  padding: 0px 20px;
}

.ana-slide {
  width: 100%;
  height: 473px;
  padding: 20px 20px 30px;
  background: #ffffff;

  border-radius: 16px;
}

.ana-slide:first-child {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.ana-num {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.ana-num span {
  width: 38px;
  height: 38px;
  display: inline-block;
  padding: 7px 0px;
  background: #6a61e0;
  border-radius: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.ana-top {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.ana-top em {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.ana-top em::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 14px;
  background: #fff1cd;
  z-index: -1;
}

.ana-mid {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 20px;
}

.ana-mid img {
  display: inline-block;
}

img.ana-img1 {
  width: 152px;
  margin-right: 15px;
}

img.log_ana-img1 {
  width: 152px;
}

img.ana-img1-1 {
  width: 92px;
  margin-bottom: 8px;
}

img.ana-img2,
img.ana-img3,
img.ana-img4 {
  width: 200px;
}

.ana-bot {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #666;
}

.ana-bot strong {
  font-weight: 700;
  color: #212121;
}

.ana-swiper .swiper-pagination {
  position: relative;
  bottom: 0;
  z-index: 1;
  margin-top: 20px;
}

.ana-swiper .swiper-pagination-bullet-active {
  background: #000;
}

/* section3 */

/* section4 */

.ser-care {
  padding: 60px 0px;
  text-align: center;
}

.care-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #212121;
  margin-bottom: 15px;
}

.care-sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #666;
  margin-bottom: 30px;
}

.care-body {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.care-bg {
  position: relative;
  width: 240px;
  height: 399.33px;
}

.care-bg img {
  width: 240px;
}

.care-ele01 img,
.care-ele02 img,
.care-ele03 img {
  width: 217px;
}

.care-ele01,
.care-ele02,
.care-ele03 {
  position: absolute;
}

.care-ele01 {
  top: 20px;
  left: -40px;
}

.care-ele02 {
  top: 128px;
  right: -40px;
}

.care-ele03 {
  top: 260px;
  left: -40px;
}

/* section4 */

/* section5 */

.ser-cap {
  padding: 60px 0px;
  background: #eff4ff;
}

.cap-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #212121;
  margin-bottom: 15px;
  text-align: center;
}

.cap-sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #666;
  margin-bottom: 30px;
  text-align: center;
}

.care-swiper {
  padding: 0px 20px 20px;
}

.log_care-swiper {
  padding: 0px 20px 20px;
}

.care-slide {
  width: 100%;
  height: 290px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.care-top {
  width: 100%;
  background: #d7ddf0;
  border-radius: 5px;
  text-align: center;
  padding: 5px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000;
  margin-bottom: 20px;
}

.care-mid {
  width: 100%;
  height: 191px;
  background: #f3f4f4;
  border-radius: 5px;
  padding: 16px 16px 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #000;
}

.care-mid strong {
  font-weight: 500;
  display: inline-block;
}

.care-mid span {
  line-height: 0;
}

.care-mid ul li {
  padding-left: 15px;
  position: relative;
}

.care-mid ul li::before {
  position: absolute;
  left: 0;
  top: -1px;
  width: 15px;
  content: "·";
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.nobefore::before {
  content: "" !important;
}

.care-swiper .swiper-pagination {
  position: relative;
  bottom: 0;
  z-index: 1;
  margin-bottom: 30px;
}

.care-swiper .swiper-pagination-bullet {
  width: auto;
  background: transparent;
  padding: 0 0 22px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #999;
  border-radius: 0%;
  margin: 0 20px 0 0 !important;
  opacity: 1;
  border: none;
}

.care-swiper .swiper-pagination-bullet:last-child {
  margin: 0 !important;
}

.care-swiper .swiper-pagination-bullet-active {
  font-weight: 500;
  color: #212121;
  border-bottom: 2px solid #212121;
}

.log_care-swiper .swiper-pagination {
  position: relative;
  bottom: 0;
  z-index: 1;
  margin-bottom: 30px;
}

.log_care-swiper .swiper-pagination-bullet {
  width: auto;
  background: transparent;
  padding: 0 0 22px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #999;
  border-radius: 0%;
  margin: 0 40px 0 0 !important;
  opacity: 1;
  border: none;
}

.log_care-swiper .swiper-pagination-bullet:last-child {
  margin: 0 !important;
}

.log_care-swiper .swiper-pagination-bullet-active {
  font-weight: 500;
  color: #212121;
  border-bottom: 2px solid #212121;
}

/* section5 */

/* section6 */

.ser-ai {
  padding: 60px 0;
  background: #4c4e5d;
}

.ai-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
  text-align: center;
}

.ai-sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.splide {
  width: 100%;
  margin: 0 auto;
}

button.splide__arrow {
  display: none;
}

.splide__pagination {
  position: static;
  margin-top: 20px;
}

.splide__pagination__page {
  background: #333d47;
  mix-blend-mode: normal;
  opacity: 0.4;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px;
  margin: 0px 5px;
}

.splide__pagination__page.is-active {
  transform: none;
  background: #000;
  opacity: 1;
}

.ai-swiper {
  position: relative;
}

.ai-slide {
  width: 300px;
  min-height: 529px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 30px 20px;
}

.ai-top {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
}

.ai-tsub {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #cffaf7;
  margin-bottom: 17px;
}

.ai-chart {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 25px;
}

.ai-bot {
  width: 100%;
  height: 170px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #cffaf7;
  padding: 0px 6px;
  display: flex;
  align-items: end;
}

.bot-txt {
  width: 100%;
}

.ai-bot strong {
  font-weight: 700;
  color: #fff;
}

.ai-slide.ai1 .ai-top {
  color: #6a61e0;
}

.ai-slide.ai1 .ai-tsub {
  color: #666666;
}

.ai-slide.ai1 .ai-bot {
  color: #666666;
}

.ai-slide.ai1 .ai-bot strong {
  color: #212121;
}

.ai-slide.ai3 .ai-tsub {
  color: #e2f3e6;
}

.ai-slide.ai3 .ai-bot {
  color: #e2f3e6;
}

.ai-slide.ai1 {
  background: #fff;
}

.ai-slide.ai2 {
  background: #5eb5af;
}

.ai-slide.ai3 {
  background: #79b286;
}

.ai-swiper .swiper-pagination {
  position: relative;
  bottom: 0;
  z-index: 1;
  margin-top: 20px;
}

.ai-swiper .swiper-pagination-bullet-active {
  background: #000;
}

/* section6 */

/* section7 */

.ser-guide {
  padding: 40px 20px 75px;
}

.accordion {
  --bs-accordion-btn-focus-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-item {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  border-right: none;
  border-left: none;
}

.accordion-button {
  padding: 15px 15px 15px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #666;
  border-radius: 0% !important;
}

.accordion-button::after {
  background-image: url(../img/ser-intro/icon_arrow_hi.png);
}

.accordion-button:not(.collapsed) {
  color: #666;
  background: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/ser-intro/icon_arrow_hi.png);
}

.accordion-body {
  padding: 0;
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #666;
}

.accordion-body ul li {
  margin-bottom: 7px;
  position: relative;
  padding-left: 15px;
}

.accordion-body ul li::before {
  position: absolute;
  left: 0;
  top: -4px;
  width: 15px;
  content: "·";
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.accordion-body ul li em {
  display: block;
  margin-bottom: 5px;
  position: relative;
  padding-left: 15px;
}

.accordion-body ul li em::before {
  position: absolute;
  left: 0;
  top: -4px;
  width: 15px;
  content: "-";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.accordion-body ul li em.nobefore::before {
  content: "";
}

.body-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17.53px;
  color: #666;
  margin-bottom: 12px;
}

/* section7 */

/* ser-table */
table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-c-row {
  width: 100%;
  border-top: 2px solid #3e3e3e;
  margin-bottom: 16px;
  margin-top: 0px;
}

.table-c-row.mobi thead tr th:first-child,
.table-c-row.mobi thead tr th:nth-child(2) {
  font-weight: 700;
}

.table-c-row thead tr th:first-child {
  border-left: 0;
}

.table-row.mobi tbody tr th,
.table-row.mobi tbody tr td,
.table-c-row.mobi thead tr th,
.table-c-row.mobi tbody tr th,
.table-c-row.mobi tbody tr td {
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  padding: 10px 5px 9px 10px;
  border-bottom: 1px solid #d6d6d6;
}

.table-c-row thead tr th {
  height: 60px;
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #777;
  font-size: 14px;
  color: #111;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0 9px 0 !important;
}

.table-c-row thead tr th em,
.table-c-row tbody tr th em {
  display: block;
  width: 100%;
  text-align: center;
  font-style: normal;
  padding: 2px 0 3px 0;
}

.table-c-row.mobi tbody tr:first-child th,
.table-c-row.mobi tbody tr:first-child td:first-child,
.table-c-row.mobi tbody tr:first-child td:nth-child(2),
.table-c-row.mobi tbody tr:nth-child(2) th,
.table-c-row.mobi tbody tr:nth-child(2) td:nth-child(2),
.table-c-row.mobi tbody tr:nth-child(2) td:nth-child(3) {
  font-weight: 700;
}

.table-c-row tbody tr:last-child th,
.table-c-row tbody tr:last-child td {
  border-bottom: 1px solid #ccc;
}

.table-c-row tbody tr th,
.table-c-row tbody tr td {
  border-bottom: 1px solid #ededed;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  color: #111;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
}

.table-c-row tbody tr td {
  border-left: 1px solid #ededed;
}

/* ser-table */

/* logic ser-intro */

.log_header_txt {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
}

.log_header_txt span {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  font-weight: 700;
  font-size: 25px;
  line-height: 31.3px;
  text-align: center;
  padding: 0px 13px;
  border: 2px solid #d558ff;
  border-radius: 100px;
  color: #fcff54;
}

.log_header_txt strong {
  font-weight: 700;
  font-size: 35px;
  color: #a8b0ff;
}

.log_body_txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.log_body_img {
  width: 100%;
  text-align: center;
}

.log_body_img img {
  width: 103px;
}

.log_ser_ser {
  padding: 60px 30px 77px;
}

.ser-head {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.ser-body {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #dd41e0;
  margin-bottom: 15px;
}

.ser-body strong {
  font-size: 30px;
  line-height: 37.56px;
}

.ser-sbody {
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #666;
  margin-bottom: 43px;
}

.ser-al {
  padding: 60px 0px;
  background: #eff4ff;
}

.al-head {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #212121;
  margin-bottom: 15px;
}

.al-shead {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

.al-swiper {
  padding: 0px 20px;
}

.al-slide {
  width: 100%;
  height: 493px;
  padding: 30px 20px 40px;
  background: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.al-slide_top {
  border-bottom: 1px solid #dadada;
}

.top-tag {
  width: 100%;
  text-align: center;
}

.top-tag span {
  display: inline-block;
  padding: 6px 20px;
  border-radius: 100px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.al-slide_top_txt {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 15px;
}

.al-slide_body {
  margin-top: 15px;
}

.al-slide_body_txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 17.53px;
  color: #333;
  margin-bottom: 5px;
}

.al-slide_body_stxt {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin-bottom: 30px;
}

.al-slide_body_img {
  width: 100%;
  text-align: center;
}

.al-slide_body_img img {
  width: 250px;
}

.alarm-swiper {
  background-image: url(../img/ser-intro/log_ser-alarm.png);
  background-size: 240px 317px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.alarm-slide {
  padding-top: 90px;
}

.alarm-slide img {
  width: 320px;
}

.alarm-pagination {
  margin-top: 40px !important;
}

.ana-sub {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #666;
  text-align: center;
}

/* quant-ser_pc */
.ser-main.pc {
  height: 336px;
}

.pc_main {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 15px 40px 47px;
}

.ser-alarm.pc {
  padding: 50px 20px;
}

.ser-ana.pc {
  padding: 30px 0;
}

.ser-care.pc {
  padding: 50px 0;
}

.ser-cap.pc {
  padding: 50px 0;
}

.ser-ai.pc {
  padding: 50px 0;
}

.head-top.pc {
  font-size: 35px;
  line-height: 46px;
}

.head-txt.pc span {
  font-size: 33px;
  padding: 0px 15px;
  margin-right: 20px;
}

.head-txt.pc {
  margin-top: 16px;
}

.head-txt.pc strong {
  font-size: 50px;
}

.ser-main-top.pc {
  font-size: 12px;
  text-align: center;
  margin-bottom: 101px;
}

.body-icn.pc {
  gap: 50px;
}

.body-icn.pc img {
  width: 57.6px;
  height: 57.6px;
  margin-bottom: 15.4px;
}

.body-icn.pc span {
  font-size: 16px;
}

.main-footer.pc {
  font-size: 15px;
  line-height: 22px;
  color: #fff;
}

.main-footer.pc span {
  opacity: 1;
}

.content_tab {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-tabs .nav-link {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  padding: 0;
}

.content_tab button.tab-link {
  display: block;
  width: calc(100% / 3);
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  font-size: 22px;
  color: #282828;
  background: #cccccc;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #b5b5b5;
}

.content_tab button.tab-link.active {
  color: #3c32bc;
  background: #ffffff;
  border: 1px solid #6a61e0;
}

.content_tab button.tab-link:hover {
  color: #3c32bc;
  background: #ffffff;
  border: 1px solid #6a61e0;
  transition: 0.5s;
}

.tab_choose {
  display: none;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #d4267d;
  padding: 20px 0;
  font-weight: 400;
}

.pc_alarm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

.alarm-header.pc {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
}

.alarm-sub.pc {
  font-size: 18px;
  line-height: 25px;
}

.pc_ana {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px 0 50px;
}

.ana-slide.pc {
  width: 400px;
  height: 455px;
  padding: 30px;
}

.ana-top.pc {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 25.04px;
}

.ana-mid.pc {
  margin-bottom: 26px;
}

.ana-header.pc {
  font-size: 30px;
  line-height: 37.56px;
}

.ana-bot.pc {
  font-size: 16px;
  line-height: 22px;
}

.pc_ana-right .swiper-pagination.pc {
  position: relative;
  width: 100%;
  text-align: center;
  margin-left: 30px;
  padding-left: 55px;
}

.pc_ana-right .swiper-pagination-bullet {
  width: auto;
  background: transparent;
  display: block;
  padding: 22px 0;
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  line-height: 27.54px;
  color: #b0b4e1;
  opacity: 1;
}

.pc_ana-right .swiper-pagination-bullet-active {
  color: #283079;
  font-weight: 500;
  position: relative;
}

.pc_ana-right .swiper-pagination-bullet-active::before {
  background: url(../img/ser-intro/confirm_solid.png) no-repeat 0px 0px;
  background-size: 35px 35px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  position: absolute;
  left: -55px;
  top: 17px;
}

.care-header.pc {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
}

.care-sub.pc {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 50px;
}

.care-bg.pc {
  position: relative;
}

.care-bg.pc img {
  width: 226px;
}

.care-ele01.pc {
  top: 50px;
  left: 10px;
}

.care-ele02.pc {
  top: 160px;
  left: -35px;
}

.care-ele03.pc {
  top: 275px;
  left: 10px;
}

.pc_cap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 127px;
}

.cap-header.pc {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
}

.cap-sub.pc {
  font-size: 18px;
  line-height: 25px;
}

.ai-header.pc {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
}

.ai-sub.pc {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 40px;
}

.pc_ai {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
}

.ser-guide.pc {
  padding: 35px 60px 65px;
  background: #333333;
}

.pc_notice_head {
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 30.05px;
  margin-bottom: 16px;
  color: #fff;
}

.pc_notice ul li {
  margin-bottom: 6px;
  color: #fff;
  font-size: 16px;
  line-height: 20.03px;
  font-weight: 400;
}

.pc_notice ul li:last-child {
  margin-bottom: 0px;
}

.pc_notice ul li::before {
  content: "";
  background: url(../img/ser-intro/circle.png) no-repeat 0px 0px;
  background-size: 6px 6px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  margin-bottom: 3px;
  width: 6px;
  height: 6px;
}

.pc_notice ul li strong {
  font-weight: 500;
}

.pc_notice ul li span.pc_notice_span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20.03px;
  color: #fdff8c;
}

/* quant-ser_pc */

/* logic-ser_pc */

.log_header_txt.pc {
  font-weight: 400;
  font-size: 40px;
  line-height: 63px;
  text-align: left;
}

.log_header_txt.pc span {
  padding: 3px 13px;
  border: 2px solid #d558ff;
  font-weight: 700;
  font-size: 35px;
  line-height: 38px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 8px;
}

.log_header_txt.pc strong {
  font-weight: 700;
  font-size: 45px;
}

.log_header_stxt {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
}

.log_body_txt.pc {
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37.56px;
}

.content_tab button.log_ser_tab.tab-link.active {
  color: #3c32bc !important;
  border: 1px solid #6a61e0 !important;
  background: #fff;
}

.content_tab button.log_ser_tab.tab-link:hover {
  color: #3c32bc !important;
  border: 1px solid #6a61e0 !important;
  background: #fff;
  transition: 0.5s;
}

.log_ser_ser.pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 110px;
}

.ser-head.pc {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.ser-body.pc {
  font-weight: 500;
  font-size: 25px;
  line-height: 31.3px;
  margin-bottom: 30px;
}

.ser-body.pc strong {
  font-weight: 500;
  font-size: 35px;
  line-height: 43.82px;
}

.ser-sbody.pc {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.ser-img.pc img {
  width: 307px;
}

.ser-al.pc {
  padding: 50px 54px;
}

.al-head.pc {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
}

.al-shead.pc {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 50px;
}

.ser-al_boxwrap {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.ser-alarm.pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}

.alarm-swiper.pc {
  width: 350px;
}

.log_ana-txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #212121;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.log_pc_ana-right .swiper-pagination1.pc {
  position: relative;
  width: 100%;
  text-align: center;
  margin-left: 30px;
  padding-left: 49px;
}

.log_pc_ana-right .swiper-pagination-bullet {
  width: auto;
  background: transparent;
  display: block;
  padding: 22px 0;
  text-align: left;
  font-weight: 400;
  font-size: 22px;
  line-height: 27.54px;
  color: #cbb0e1;
  opacity: 1;
}

.log_pc_ana-right .swiper-pagination-bullet-active {
  color: #b446da;
  font-weight: 500;
  position: relative;
}

.log_pc_ana-right .swiper-pagination-bullet-active::before {
  background: url(../img/ser-intro/log_confirm_solid.png) no-repeat 0px 0px;
  background-size: 35px 35px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  position: absolute;
  left: -55px;
  top: 17px;
}

.ser-cap.pc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 130px;
}

.log_care-swiper.pc {
  width: 360px;
}

.ser-recom.pc {
  background: #575a73;
  padding: 70px 130px;
}

.recom-head.pc {
  width: 100%;
  text-align: center;
  margin-bottom: 36px;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
}

.recom-head.pc span {
  color: #fff6a7;
}

.recom-list-box.pc {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px 90px;
  place-content: center;
}

.recom-list {
  display: flex;
  justify-content: start;
  align-items: center;
}

.recom-icn.pc img {
  width: 70px;
}

.recom-txt.pc {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-left: 25px;
  color: #d3d6f3;
}

/* logic-ser_pc */

/* tab-join */

.content_tit {
  display: block;
  width: 100%;
  float: left;
  font-size: 26px;
  color: #3e3e3e;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background: url(../img/ser-intro/bu_tit.gif) no-repeat 0 100%;
}

.table-row {
  width: 100%;
  border-top: 2px solid #3e3e3e;
  margin-bottom: 0;
}

.table-row tbody tr th {
  background: #f5f5f5;
  font-size: 14px;
  color: #111;
  font-weight: 400;
  padding-left: 20px;
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
}

.table-row tbody tr td {
  padding: 13px 0 12px 20px;
  height: 60px;
  vertical-align: middle;
  font-size: 14px;
  border-bottom: 1px solid #dee2e6;
}

.table-row tbody tr td span {
  display: block;
  width: 100%;
  height: 27px;
  line-height: 27px;
  float: left;
  font-size: 14px;
  color: #111;
  font-weight: 400;
}

.table-row tbody tr td b {
  font-weight: 700;
}

.table-row tbody tr td span::before {
  content: "-";
  padding-right: 5px;
}

.c_red {
  color: #dc0004 !important;
}

/* tab-join */

/* tab-chargePer */

p.guide {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  float: left;
}

.guide span {
  display: block;
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  color: #111;
  font-weight: 400;
  float: left;
}

.guide-m span::before {
  content: "-";
  padding-right: 5px;
}

.table-c-row thead tr th:first-child,
.table-c-row thead tr th:nth-child(2),
.table-c-row thead tr th:nth-child(3) {
  font-weight: 700;
}

.table-c-row tbody tr:first-child th,
.table-c-row tbody tr:first-child td:nth-child(2),
.table-c-row tbody tr:first-child td:nth-child(3) {
  font-weight: 700;
}

.table-c-row thead tr th:first-child {
  border-left: 0;
}

.table-c-row thead tr th {
  height: 60px;
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #777;
  font-size: 14px;
  color: #111;
  font-weight: 400;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
}

.table-c-row tbody tr:last-child th,
.table-c-row tbody tr:last-child td {
  border-bottom: 1px solid #ccc;
}

.table-c-row tbody tr th,
.table-c-row tbody tr td {
  border-bottom: 1px solid #ededed;
  height: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  color: #111;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
}

.table-c-row tbody tr td {
  border-left: 1px solid #ededed;
}

p.guide_p {
  margin-top: 20px;
}

.guide_p span {
  color: #777;
}

.guide_p span::before {
  content: "\203B";
  padding-right: 5px;
}

.guide_p span b {
  font-weight: 700;
}

/* tab-chargePer */

/* banner */

.banner {
  width: 100%;
  margin: 0 auto;
  height: 45px;
  text-align: center;
  position: relative;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
}

.banner.pc {
  max-width: 1128px;
}

button.ban-btn {
  width: 100%;
  height: 45px;
  border: none;
}

.ban-txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #fff;
}

button.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
}

button.close-btn img {
  width: 24px;
}

.nobanner {
  transform: translateY(150px);
  transition: 2s;
}

/* banner */
