/* header */
.back-btn{
  border: none;
  background: none;
}

.back-btn img{
  width: 24px;
  height: 24px;
}

.header-txt{
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-left: 8px;
  margin-bottom: 2px;
}
/* header */

/* header-tab */
.header-tab{
  width: 100%;
  height: 48px;
  border: none;
  border-bottom: 1px solid #DEE2E6;
  padding: 0px 16px;
  position: fixed;
  background: #fff;
  z-index: 1030;
}

.header-tab button{
  width: 50%;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background: #fff;
  z-index: 1030;
}

.header-tab button.nav-link.active{
  font-weight: 500;
  color: #222;
  border: none;
  border-bottom: 2px solid #222;
  background: #fff;
  z-index: 1030;
}

.header-tab button.nav-link:hover{
  color: #666;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #fff #fff #dee2e6;
  --bs-nav-tabs-link-active-color: #495057;
  --bs-nav-tabs-link-active-bg: #fff;
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link {
  border-top: none !important;
  border-left: none !important; 
  border-right: none !important; 
}

/* header-tab */

/* ai-intro */
.ai-intro{
  padding: 20px 0px 50px;
}

.us_ai-intro_main{
  width: 100%;
  height: 254px;
  margin-bottom: 30px;
  border-radius: 16px;
  padding: 30px 16px 20px 20px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
}

.ai_rev-main{
  background: #2BA6A4;
}

.ai_sta-main{
  background: #8450FD;
}

.us_aiintro-main_icn{
  display: inline-block;
  border-radius: 100px;
  padding: 3px 13px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 11px;
}

.ai_rev-icn{
  background: #1F626B;
}

.ai_sta-icn{
  background: #5A36AE;
}

.us_aiintro-txt{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}

.us_aiintro-txt span{
  color: #F9FF54;
  font-weight: 700;
  display: inline-block;
  margin-top: 3px;
}

.us_aiintro-bot{
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.us_aiintro-stxt{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.us_aiintro-main_img{
  width: 125px;
}

.us_aiintro-con01{
  padding: 0px 16px;
}

.us_rec-swiper{
  padding: 0px 16px;
}

.us_box-style{
  position: relative;
  padding: 30px 20px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 20px;
}

.us_rec-box_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.us_box-icn{
  display: inline-block;
  padding: 6px 15px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 100px;
}

.us_rev-box_icn{
  background: #2BA6A4;
}

.us_sta-box_icn{
  background: #8450FD;
}

.rec-swiper_pgn{
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 7px;
}

.rec-swiper_pgn span{
  display: inline-block;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #C9C9C9;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.us_rec-slide_name{
  width: 100%;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  padding-bottom: 8px;
  border-bottom: 1px solid #EEE;
}

.us_rec-slide_name span{
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
}

.us_rec-slide_num{
  margin-top: 8px;
  width: 100%;
  border-radius: 5px;
  background: #FFF1ED;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.us_rec-num_txt{
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.us_rec-num_txt span{
  font-size: 18px;
  font-weight: 700;
}

.us_rec-slide_img{
  position: relative;
}

.us_text-box{
  color: #666;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.us_text-box span{
  font-weight: 500;
}

.us_text-box strong{
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
}

.sell-position{
  position: absolute;
  right: 15px;
  top: 12px;
}

.buy-position{
  position: absolute;
  left: 16px;
  bottom: 13px;
}

.swiper-pagination.us_rec-pgn, .swiper-pagination.us_sta-pgn{
  position: absolute !important;
  text-align: right;
  top: 20px;
  padding-right: 15px;
  height: 30px;
}

.swiper-pagination.us_rec-pgn .swiper-pagination-bullet, .swiper-pagination.us_sta-pgn .swiper-pagination-bullet{
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  background: #C9C9C9;
}

.swiper-pagination.us_rec-pgn .swiper-pagination-bullet-active{
  background: #2BA6A4;
}

.swiper-pagination.us_sta-pgn .swiper-pagination-bullet-active{
  background: #8450FD;
}

.us_aiintro-con02{
  padding: 0px 16px;
}

.us_ai-box_maintxt{
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}

.us_ai-box_maintxt span{
  color: #873DE7;
}

.us_ai-box_stxt{
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 30px;
}

.us_ai-box_stxt span{
  font-weight: 500;
  color: #2BA6A4;
}
/* ai-intro */

/* trading */
.trad-hig{
  padding: 20px 16px 10px;
}

.trad-hig_box{
  padding: 25px 20px;
  border-radius: 12px;
  background: #2BA6A4;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.trad-hig_icn{
  display: inline-block;
  padding: 3px 13px;
  border-radius: 100px;
  background: #1F626B;
  margin-bottom: 20px;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  line-height: 19px;
}
/* trading */

/* 매수/매도 탭*/
.bs-tab{
  padding: 20px 16px 0;
}

.buysell-tab{
  width: 100%;
  height: 44px;
  border-radius: 8px;
}

.buysell-tab button.bs-nav{
  width: 50%;
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: #dee2e6;
  border-radius: 0px;
  border: 1px solid #C3CACE !important;
}

.buysell-tab button.bs-nav.active{
  background: #454860;
  font-weight: 700;
  color: #fff;
  border: 1px solid #454860 !important;
}

button.bs-nav:first-child{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

button.bs-nav:last-child{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* 매수/매도 탭*/

/* 매수 탭 */
.buy-head{
  margin-top: 30px;
  padding: 0px 26px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.us_radio-btn{
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

.radio-txt{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  margin-right: 8px;
}

.us_radio-btn input[type=checkbox]{
  position: absolute;
  display: none;
}

.us_radio-btn input[type=checkbox]:checked + .switch_label{
  background: #454860;
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 24px;
  background: #BFBFBF;
  border-radius: 99px;
  transition: 0.2s;
}

.us_radio-btn input[type=checkbox]:checked + .switch_label .onf_btn{
  left: 18px;
}

.onf_btn{
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 22px;
  background: #fff;
  transition: 0.2s;
}

.offcan-btn button{
  padding: 0;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  align-content: center;
}

.offcan-btn button div{
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.offcan-btn button img{
  width: 24px;
  height: 24px;
}

.offcanvas-order{
  --bs-offcanvas-height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.order-header{
  padding: 24px 20px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-headertxt{
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.order-header button:focus {
  box-shadow: none;
}

.order-con{
  max-height: 300px;
  overflow-y: auto;
}

.order-con_list{
  width: 100%;
  height: 60px;
  border: none;
  background: none;
  color: #141414;
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
  position: relative;
}

.order-con_list.active{
  background: #F4F6FD;
  color: #4F3FC6;
  font-weight: 500;
}

.order-con_list.active::after{
  position: absolute;
  content: "";
  background-image: url(../img/ai/order-btn.png);
  background-position: center;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  right: 20px; 
  top: 18px;
}

.buy-con{
  padding: 0px 16px 150px;
}

.buy-con_box{
  width: 100%;
  text-align: left;
  border-radius: 8px;
  border: 1px solid #D5D9DD;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  overflow: hidden;
}

.buy-box_top{
  padding: 20px 20px 15px;
  background: #F7F9FA;
}

.top1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.top1-left{
  color: #969696;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.buy-box_bot{
  padding: 15px 20px;
}

.top1-right{
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #666;
  border: none;
  background: none;
  padding-right: 20px;
}

.top1-right::after{
  position: absolute;
  top: 5px;
  right: 7px;
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid #666;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

.top2{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.box_name{
  display: inline-block;
  width: auto;
  max-width: calc(100% - 62px);
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-right: 8px;
}

.top3{
  font-size: 13px;
  color: #666;
  font-weight: 400;
  line-height: 16px;
}

.buy-box_bot div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.buy-box_bot div:last-child{
  margin-bottom: 0;
}

.buy-box_bot div span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #666;
}

.buy-con_txt{
  font-weight: 400;
  color: #666;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 30px;
}
/* 매수 탭 */

/* 비가입자 */
.join{
  padding: 0px 16px;
}

.join-con{
  width: 100%;
  height: 234px;
  padding: 50px 0;
  background-image: url(../img/ai/notjoin.png);
  background-size: 100%;
  border-radius: 8px;
}

.join-txt{
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 30px;
}

.join-btn{
  width: 100%;
  text-align: center;
}

.join-btn button{
  width: 155px;
  height: 48px;
  border-radius: 8px;
  background: #454860;
  border: none;
  font-size: 16px; 
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}
/* 비가입자 */

/* 안정추구 ai */
.stab-hig{
  background: #8450FD !important;
}

.stab-hig_icn{
  background: #5A36AE !important;
}

.stab-join-btn{
  background: #4F3FC6 !important;
}
/* 안정추구 ai */


/* 상장폐지 팝업창*/
.modal.list-popup .modal-body {
  width: 100%;
  padding: 30px 19px;
}

.modal.list-popup .modal-body strong{
  display: block;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-bottom: 13px;
}

.modal.list-popup .modal-body span{
  display: block;
  color: #212121;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  line-height: 20px;
}

.listmodal-btn{
  width: 100%;
}

.listmodal-btn button{
  width: 100%;
  height: 48px;
  border-radius: 0px 0px 16px 16px;
  border: none;
  background: #4F3FC6;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
/* 상장폐지 팝업창*/